*.obsidian
__pycache__/
results/
!experiments/results/
src/test.py
src/test_std
notebooks/trial.ipynb
old_staff/
data/data_DIFFI/
data/syn/syn_feat
exiffi_env.yml
utils_reboot/time_dict_backup/
ACM-ExIFFI-latex/
